.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      1234
      .chat-main__main-header__left-box__member-list
        user name
    .chat-main__main-header__edit
      Edit
  .chat-main__chat-messages
    .chat-main__chat-messages__messages2
      .chat-main__chat-messages__messages2__upper-info
        .chat-main__chat-messages__messages2__upper-info__text
    
  
  .from
    %from.new_message
      %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas','image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}





    
 
      
      