.side-bar
  .side-bar__user-name
    .top-items
      masa
      .top-items__icons
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.header-items__icons--pen
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog.header-items__icons--cog
  .side-bar__groups-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
      
      -#  = link_to new_group_path do
      -#    - current_user.groups.each do |group|
      -# .group
      -#   = link_to '#' do
      -#     .group__name
      -#       = group.name
      -#     .group__message
      -#       メッセージはまだありません

      -#  = link_to new_group_path do

-# .side-bar
-#   .header
-#     %h3.header__name
-#       = current_user.name
-#     %ul.header__lists
-#       %li.list
-#         = link_to do
-#           = icon('fas', 'pen-square', class: 'icon')
-#       %li.list
-#         = link_to edit_user_path(current_user) do
-#           = icon('fas', 'cog', class: 'icon')
-#   .groups
-#   - current_user.groups.each do |group|
-#     .group
-#       = link_to group_messages_path(group) do
-#         .group__name
-#           = group.name
-#         .group__message
-#           = group.show_last_message

